<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel App</title>
    </head>
    <body>
        <header>
            <a href="./index.html">
                <div class="logo">
                    Travel Planner
                </div>
            </a>
        </header>
        <main>
            <section class="form-bg">
                <div class="overlay"></div>
                <form action="" autocomplete="off"> 
                    <div id="place" class="my-place">
                        <h3>Where do you want to go?</h3>
                        <div class="form-wrapper">
                            <input id="placename" type="text" placeholder="Type the name of the city">
                        </div>
                    </div>
                    <div class="date-picker">
                        <h3>When do you start your trip?</h3>
                        <div class="selected-date"></div>
                        <div class="dates">
                            <div class="month-selection">
                                <div class="arrows prev-month">&lt;</div>
                                <div class="month"></div>
                                <div class="arrows next-month">&gt;</div>
                            </div>
                            <div class="days"></div>
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="submit" class="btn-submit">Plan you trip</button>
                    </div>
                </form>
                <div class="info">
                    <p id="city-country-days"></p>
                    <div class="form-results">
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer-logo">
                Plan you dream vacation with us!
            </div>
        </footer> 
        <!-- <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('./dist/service-worker.js');
                });
            }
           </script> -->

    </body>
</html>
        
