
// https://infomaw.com/tropical-color-palette/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

html, input, button, p, span, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}



button {
    cursor: pointer;
    border-radius: 30px;
}

input {
    border: solid 1px #a4a4a4;
    border-radius: 20px;
}

/* style all elements with a required attribute */
:required {
    background: red;
  }

  h3 {
      color: white;
  }